<!-- Наследуем каркас из занятия 2 -->
{% extends "base.html" %}
 
{% block title %}Форма регистрации{% endblock %}
 
{% block content %}
<h1 style="color: #2E1065; margin-bottom: 1.5rem;">Регистрация</h1>
 
<!-- action: куда отправить данные -->
<!-- method: post — данные в теле запроса, не в URL -->
<form action="/submit" method="post"
      style="max-width: 480px; display: flex;
             flex-direction: column; gap: 1rem;">
 
  <label>Имя</label>
  <!-- name='username' — ключ для FastAPI, required — обязательное поле -->
  <input type="text" name="username"
         placeholder="Введите имя" required>
 
  <label>Электронная почта</label>
  <!-- type='email' — браузер проверит формат адреса автоматически -->
  <input type="email" name="email"
         placeholder="example@mail.ru" required>
 
  <label>Возраст</label>
  <!-- type='number' — браузер разрешит только цифры -->
  <input type="number" name="age"
         min="1" max="120" required>
 
  <!-- type='submit' — кнопка отправки формы -->
  <button type="submit">Зарегистрироваться</button>
 
</form>
{% endblock %}
